<h1>Bookmark Details</h1>
<br>
<form action="/bookmarks/<%= @bookmark.id %>" method="post">
  <input type="hidden" value="PATCH" name="_method">
  <input type="text" value="<%= @bookmark.title %>" name="title">
  <input type="text" value="<%= @bookmark.url %>" name="url">
  <input type="submit" value="Update">
</form>