<form action='/bookmarks/new' method='post'>
<label for='title'> Please enter a title for your bookmark: </label><br></br>
<input type='text' name='title'> <br></br>
<label for='url'> Please enter a URL: </label><br></br>
<input type='text' name='url'><br></br>
<input type='submit' value='Add Bookmark'>
</form>


<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark.title%>, <%= bookmark.url%></li>
    <% end %>

</ul>

